body {
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f0f8ff;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  color: #000000;
  font-weight: 400;
  min-width: 100vh;
  min-height: 100vh;
}

.template {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 1400px;
  row-gap: 20px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 470px) {
  .template {
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    justify-items: center;
    align-items: center;
  }
}

/* ______________________________ */

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 10px;
}

.go-home {
  display: block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #f2994a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.insights-title {
  font-size: 68px;
  color: #02234d;
  line-height: 1;
  font-weight: 600;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.custom-line {
  width: 100%;
  max-width: 1400px;
  border: none;
  height: 2px;
  background-color: #f2994a;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.tokens-title {
  font-weight: 700;
  font-size: 80;
  color: #02234d;
  line-height: 1.05;
  margin: 0 auto;
}
/* ____________after title */

.part-first {
  display: grid;
  grid-template-columns: 2fr 2.4fr 1.5fr;
  grid-template-rows: 136px 260px;
  gap: 25px 10px;
  grid-template-areas:
    'altcoins-title  picture-wraper  market-title'
    ' altcoins-description  picture-wraper market-description';
}
.altcoins-title {
  grid-area: altcoins-title;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 5px;
}
.altcoins-description {
  grid-area: altcoins-description;
  font-size: 17px;
  line-height: 1.3;
}

.picture-wraper {
  grid-area: picture-wraper;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 60px;
  background-color: rgb(8, 90, 148);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
}
.icon {
  width: 100%;
  height: 100%;
}
.market-title {
  grid-area: market-title;
  font-size: 28px;
}
.market-description {
  grid-area: market-description;
  font-size: 17px;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .part-first {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'altcoins-title '
      'altcoins-description'
      'picture-wraper'
      'market-title'
      'market-description';
    align-items: center;
    align-content: center;
  }
  .picture-wraper {
    height: 400px;
  }
}
@media (max-width: 470px) {
  .part-first {
    align-items: center;
    align-content: center;
  }
  .picture-wraper {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}
/* ______________________________________string3  two small parath*/
.part-second {
  display: grid;
  max-width: 1300px;
  grid-template-columns: 1.1fr 1.1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'b-t l-t p-t p-t p-t p-t'
    'b-d l-d des-first des-second des-about des-last';
  gap: 5px 10px;
  align-items: baseline;
  justify-items: start;
}

@media (max-width: 768px) {
  .part-second {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'b-t'
      'b-d'
      'l-t'
      'l-d '
      'p-t'
      'des-first'
      'des-second'
      'des-about'
      'des-last';
    align-items: center;
    align-content: center;
    gap: 15px;
  }
}

.bitcoin-title {
  grid-area: b-t;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 10px;
}
.bitcoin-description {
  border-right: 2px solid #f2994a;
  padding-right: 5px;
  grid-area: b-d;
  font-size: 12px;
  line-height: 1.2;
}

.lines-title {
  grid-area: l-t;
  font-size: 24px;
  line-height: 1.2;
}
.lines-description {
  border-right: 2px solid #f2994a;
  padding-right: 5px;
  grid-area: l-d;
  font-size: 12px;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .bitcoin-title,
  .lines-title {
    font-size: 32px;
    line-height: 1.2;
  }
  .bitcoin-description,
  .lines-description {
    font-size: 24px;
    line-height: 1.2;
  }
  .bitcoin-description,
  .lines-description {
    border-right: none;
  }
}
/* _________________4 paragraph */

.projects-title {
  grid-area: p-t;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}
.project-description-first {
  grid-area: des-first;
  font-size: 12px;
  line-height: 1.2;
}
.project-description-second {
  grid-area: des-second;
  font-size: 12px;
  line-height: 1.2;
}
.project-description-about {
  grid-area: des-about;
  font-size: 12px;
  line-height: 1.2;
}
.project-description-last {
  grid-area: des-last;
  font-size: 12px;
  line-height: 1.2;
}
/*  last  line______________________3____________ */

.part-third {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  grid-template-rows: repeat(6, 100px);
  grid-template-areas:
    'p-w f-t cr-t last-w last-w last-w'
    'p-w f-d-o cr-descr last-w last-w last-w'
    'p-w f-d-o cr-descr cust-l cust-l cust-l'
    'p-t f-d-o good-t good-t good-t good-t'
    'p-d f-d-t good-d good-d good-d good-d'
    'p-d f-d-t good-d good-d good-d good-d';
  gap: 10px;
}

@media (max-width: 768px) {
  .part-third {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'p-w'
      'p-t'
      'p-d'
      'l-d'
      'f-t'
      'f-d-o'
      'f-d-t'
      'cr-t '
      'cr-descr'
      'last-w'
      'good-t'
      'good-d';
    align-items: center;
    align-content: center;
    gap: 15px;
  }
}

.printer-wrapper {
  grid-area: p-w;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(4, 118, 131);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
}
.photo-printer {
  object-fit: cover;
}
.printer-title {
  grid-area: p-t;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.printer-description {
  grid-area: p-d;
  font-size: 14px;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .printer-wrapper {
    height: 400px;
  }
  .printer-title,
  .printer-description {
    font-size: 24px;
    line-height: 1.5;
  }
}

/* ______________________ */
.family-title {
  grid-area: f-t;
  font-size: 24px;
  font-weight: 600;
}
.family-description-one {
  border-right: 2px solid #f2994a;
  padding-right: 5px;
  padding-left: 5px;

  grid-area: f-d-o;
  font-size: 14px;
  line-height: 1.2;
}
.family-description-two {
  border-left: 2px solid #f2994a;
  padding-right: 5px;
  padding-left: 5px;
  grid-area: f-d-t;
  font-size: 14px;
  line-height: 1.2;
}
/* _________________________ */
.crypto-title {
  grid-area: cr-t;
  font-size: 24px;
  line-height: 1.6;
}
.crypto-description {
  grid-area: cr-descr;
  font-size: 14px;
  line-height: 1.2;
}
/* ___________________________ */
.last-wrapper {
  grid-area: last-w;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #000d1f;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .last-wrapper {
    height: 300px;
  }
  .family-description-one {
    border-right: none;
    border-left: none;
  }
  .family-description-two {
    border-right: none;
    border-left: none;
  }
}
.good-title {
  grid-area: good-t;
  border-top: 2px solid #f2994a;
  margin-top: -20px;
  padding-top: 20px;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.1;
}
.good-description {
  grid-area: good-d;
  font-size: 14px;
  line-height: 1.2;
}
