body {
  font-family: 'Fira Sans', sans-serif;
  color: #000000;
  font-weight: 400;
  background-color: #ffffff;
}
.template {
  width: 1920px;
  height: 2090px;
  padding: 30px;
}

.insights-wrapper {
  width: 1584px;
}
.insights-title {
  font-size: 72px;
  line-height: 1;
  font-weight: 500;
  margin: 0 auto;
}
.custom-line {
  width: 1776px;
  border: none;
  height: 2px;
  background-color: #00000040;
}
.tokens-wrapper {
  width: 1584px;
}
.tokens-title {
  font-weight: 700;
  font-size: 80;
  line-height: 1.05;
  margin: 0 auto;
}
/* ____________after title */
.altcoins-wrapper {
  width: 576px;
}

.altcoins-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 5px;
  /* width: 576px; */
}
.altcoins-description {
  /* font-weight: 400; */
  /* width: 576px; */
  font-size: 18px;
  line-height: 1.3;
}
.photo-wraper {
  width: 726px;
  height: 512px;
  margin: 5px;
}
.photo-big {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.market-wrapper {
  width: 426px;
}
.market-title {
  width: 426px;
  margin-bottom: 5px;
}
.market-description {
  font-size: 18px;
  line-height: 1.3;
  /* font-weight: 400; */
}
/* _________string3  two small parath*/
.bitcoin-wrapper {
  width: 288px;
  margin-right: 5px;
}
.bitcoin-title {
  font-size: 36px;
  line-height: 1.2;
  width: 276px;
  margin-top: 10px;
}
.bitcoin-description {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 10px;
}
.lines-wrapper {
  width: 288px;
  margin-right: 5px;
}
.lines-title {
  font-size: 36px;
  line-height: 1.2;
  width: 276px;
  margin-top: 10px;
}
.lines-description {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 10px;
}
/* _________________4 paragraph */
.progects-wrapper {
  width: 1176px;
}
.progects-title {
  width: 1176px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  margin-bottom: 10px;
  margin-top: 10px;
}
.progects-descrsption-first {
  width: 276px;
  /* margin-right: 5px; */
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
}
.progects-descrsption-second {
  width: 276px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
}
.progects-descrsption-third {
  width: 276px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
}
.progects-descrsption-fourth {
  width: 276px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
}
/*  last  line______________________ */
.printer-wrapper {
  width: 438px;
}
.photo-printer {
  width: 426px;
  /* height: 284px; */
  object-fit: cover;
}
.printer-title {
  width: 426px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
.printer-description {
  font-size: 14px;
  line-height: 1.2;
}
.family-wrapper {
  width: 286px;
}
.family-title {
  width: 276px;
}
.family-description-one {
  width: 276px;
  margin-top: 10px;
}
.family-description-two {
  width: 276px;
  margin-top: 5px;
}
.crypto-wrapper {
  width: 276px;
}
.crypto-title {
  font-size: 24px;
  width: 276px;
  line-height: 1.6;
}
.crypto-description {
  font-size: 14px;
  line-height: 1.2;
}
.last-wrapper {
  width: 726px;
}
.photo-last {
  width: 726px;
  height: 248px;
}
.good-wrapper {
  width: 1026px;
}
.good-title {
  width: 1026px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}
.good-description {
  width: 1026px;
  font-size: 14px;
  line-height: 1.2;
}
